In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
vists = pd.read_csv('visits.csv')
cart = pd.read_csv('cart.csv')
checkout = pd.read_csv('checkout.csv')
purchase = pd.read_csv('purchase.csv')

In [3]:
vists.head()

                                user_id           visit_time
0  943647ef-3682-4750-a2e1-918ba6f16188  2017-04-07 15:14:00
1  0c3a3dd0-fb64-4eac-bf84-ba069ce409f2  2017-01-26 14:24:00
2  6e0b2d60-4027-4d9a-babd-0e7d40859fb1  2017-08-20 08:23:00
3  6879527e-c5a6-4d14-b2da-50b85212b0ab  2017-11-04 18:15:00
4  a84327ff-5daa-4ba1-b789-d5b4caf81e96  2017-02-27 11:25:00

In [4]:
vists.shape

(2000, 2)

In [5]:
cart.head()

                                user_id            cart_time
0  2be90e7c-9cca-44e0-bcc5-124b945ff168  2017-11-07 20:45:00
1  4397f73f-1da3-4ab3-91af-762792e25973  2017-05-27 01:35:00
2  a9db3d4b-0a0a-4398-a55a-ebb2c7adf663  2017-03-04 10:38:00
3  b594862a-36c5-47d5-b818-6e9512b939b3  2017-09-27 08:22:00
4  a68a16e2-94f0-4ce8-8ce3-784af0bbb974  2017-07-26 15:48:00

In [6]:
cart.shape

(348, 2)

In [7]:
checkout.head()

                                user_id        checkout_time
0  d33bdc47-4afa-45bc-b4e4-dbe948e34c0d  2017-06-25 09:29:00
1  4ac186f0-9954-4fea-8a27-c081e428e34e  2017-04-07 20:11:00
2  3c9c78a7-124a-4b77-8d2e-e1926e011e7d  2017-07-13 11:38:00
3  89fe330a-8966-4756-8f7c-3bdbcd47279a  2017-04-20 16:15:00
4  3ccdaf69-2d30-40de-b083-51372881aedd  2017-01-08 20:52:00

In [8]:
checkout.shape

(360, 2)

In [9]:
purchase.head()

                                user_id        purchase_time
0  4b44ace4-2721-47a0-b24b-15fbfa2abf85  2017-05-11 04:25:00
1  02e684ae-a448-408f-a9ff-dcb4a5c99aac  2017-09-05 08:45:00
2  4b4bc391-749e-4b90-ab8f-4f6e3c84d6dc  2017-11-20 20:49:00
3  a5dbb25f-3c36-4103-9030-9f7c6241cd8d  2017-01-22 15:18:00
4  46a3186d-7f5a-4ab9-87af-84d05bfd4867  2017-06-11 11:32:00

In [10]:
purchase.shape

(252, 2)

In [11]:
merged_vists_cart = vists.merge(cart,how='left')

In [12]:
total_customers = merged_vists_cart.shape[0]
total_customers

2000

In [13]:
total_vists = merged_vists_cart['cart_time'].isna().sum()
total_vists

1652

In [14]:
total_cart = total_customers - total_vists
total_cart

348

In [15]:
per_of_cart = total_cart/float(total_customers)*100
per_of_cart

17.4

In [16]:
merged_cart_checkout = cart.merge(checkout,how='left')

In [17]:
total_customers2 = merged_cart_checkout.shape[0]
total_customers2

482

In [18]:
total_carts2 = merged_cart_checkout['checkout_time'].isna().sum()
total_carts2

122

In [19]:
total_checkout2 = total_customers2 - total_carts2
total_checkout2

360

In [20]:
per_of_cart_no_check = total_carts2/float(total_customers2)*100
per_of_cart_no_check

25.311203319502074

In [21]:
all_data = vists.merge(cart, how='left').merge(checkout, how='left').merge(purchase, how='left')
all_data

,user_id,visit_time,cart_time,checkout_time,purchase_time
0,943647ef-3682-4750-a2e1-918ba6f16188,2017-04-07 15:14:00,NaN,NaN,NaN
1,0c3a3dd0-fb64-4eac-bf84-ba069ce409f2,2017-01-26 14:24:00,2017-01-26 14:44:00,2017-01-26 14:54:00,2017-01-26 15:08:00
2,6e0b2d60-4027-4d9a-babd-0e7d40859fb1,2017-08-20 08:23:00,2017-08-20 08:31:00,NaN,NaN
3,6879527e-c5a6-4d14-b2da-50b85212b0ab,2017-11-04 18:15:00,NaN,NaN,NaN
4,a84327ff-5daa-4ba1-b789-d5b4caf81e96,2017-02-27 11:25:00,NaN,NaN,NaN
...,...,...,...,...,...
2367,33913ac2-03da-45ae-8fc3-fea39df827c6,2017-03-25 03:29:00,NaN,NaN,NaN
2368,4f850132-b99d-4623-80e6-6e61d003577e,2017-01-08 09:57:00,NaN,NaN,NaN
2369,f0830b9b-1f5c-4e74-b63d-3f847cc6ce70,2017-09-07 12:56:00,NaN,NaN,NaN
2370,b01bffa7-63ba-4cd3-9d93-eb1477c23831,2017-07-20 04:37:00,NaN,NaN,NaN
2371,0336ca81-8d68-443f-9248-ac0b8ad147d5,2017-11-15 10:11:00,NaN,NaN,NaN

In [22]:
filter_data = all_data[all_data.checkout_time.notna()]
filter_data
total_customers3 = filter_data.shape[0]
total_customers3

598

In [23]:
total_checkout3 = filter_data['purchase_time'].isna().sum()
total_checkout3

101

In [24]:
total_purchase3 = filter_data['purchase_time'].notna().sum()
total_purchase3

497

In [25]:
per_of_check_to_purcahse = total_purchase3 / float(total_customers3)*100
per_of_check_to_purcahse

83.11036789297658

In [26]:
print(f'the weakest convertion percentage from one stage to another is vist to cart with {per_of_cart}')

the weakest convertion percentage from one stage to another is vist to cart with 17.4

In [80]:
all_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2372 entries, 0 to 2371
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   user_id        2372 non-null   object
 1   visit_time     2372 non-null   object
 2   cart_time      720 non-null    object
 3   checkout_time  598 non-null    object
 4   purchase_time  497 non-null    object
dtypes: object(5)
memory usage: 92.8+ KB

In [28]:
all_data['visit_time'] = pd.to_datetime(all_data['visit_time'])
all_data['purchase_time'] = pd.to_datetime(all_data['purchase_time'])

all_data['time_to_purchase'] = all_data.purchase_time - all_data.visit_time

In [30]:
print(all_data.time_to_purchase)

0                  NaT
1      0 days 00:44:00
2                  NaT
3                  NaT
4                  NaT
             ...
2367               NaT
2368               NaT
2369               NaT
2370               NaT
2371               NaT
Name: time_to_purchase, Length: 2372, dtype: timedelta64[ns]

In [31]:
print(all_data.time_to_purchase.mean())

0 days 00:43:53.360160965